<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Movie Hub{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="nav-glass">
  <div class="nav-left">
    🎬 <strong>Movie Hub</strong>
  </div>

  <div class="nav-right">

    <a href="{{ url_for('home') }}">Home</a>

    {% if current_user.is_authenticated %}
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
        <a href="{{ url_for('signin') }}">Sign In</a>
        <a href="{{ url_for('signup') }}">Sign Up</a>
    {% endif %}

  </div>
</nav>

<main class="page">
  {% block content %}{% endblock %}
</main>

</body>
</html>
